@font-face 
    font-family: Gotham
    src: url('/fonts/Gotham-Rounded-Bold_21016.ttf')

font-size = 16px
line-height = 1.4

font-main = GothamProMedium

green-color = #5fcf80
green-color-hover = #50A068
dark-green-color = #3ac162
inputs-background = #e8ebed
inputs-color = #576366
