doctype html
html
	head
		title TeamTree
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(charset='UTF-8')
		link(rel='stylesheet', href='#{staticRoot}/css/main.css')
		
	body
		.page-content
			header
				.content
					span
						button
					a.brand(href='#')	treehouse
			main
				.get-start-block
					.content
						.cols.col-6
							h1 Change your Career. Change your Life.
							h2 Make 2016 the year you learn to code.
						.cols.col-6
							div.form-card
								p Get Started Today!
								form
									fieldset
										.row
											.cols.col-6
												input(type='text', placeholder='First name *')
											.cols.col-6
												input(type='text', placeholder='Last name *')
										.row
											.cols.col-12
												input(type='text', placeholder='Email address **')

